<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Gaming Environments- List'"></head>

<body>

<nav th:replace="navigation :: navigation(URL_GAMINGENVIRONMENTS)"></nav>


<div class="ui grid container">

    <div th:each="gamingEnvironment : ${list}" class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui segment">

            <div th:each="title,iterStat : ${gamingEnvironment.title}">
                <span th:text="${title.text.text}"></span>

                <span class="hint" th:if="${title.titleType.value}" th:text="${title.titleType.value}"></span>
                <span class="hint" th:if="${title.region.name}" th:text="${title.region.name}"></span>
                <!--<span th:text="${iterStat.last} ? '' :  ','"></span>-->
            </div>
            <span th:if="${gamingEnvironment.firstReleaseYear}" th:text="${gamingEnvironment.firstReleaseYear}"></span>

            <a class="mini ui blue button" th:href="@{${URL_GAMINGENVIRONMENTS} + '/' + ${gamingEnvironment.id}}"
            ><span th:text="#{view}">view</span></a>

        </div>
    </div>
</div>


<div th:replace="footer :: copy"></div>

<script language="JavaScript">
    /*<![CDATA[*/
    /*
     alert('test');
     var buttons = document.querySelectorAll('[data-preview-img]');
     for (var i = 0; i < buttons.length; i++) {
     buttons[i].innerHTML = buttons[i].innerHTML + '<br/> <img src="' + buttons[i].getAttribute('data-preview-img') + '"/>';
     }
     */
    /*]]>*/
</script>
</body>
</html>
