<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title + '  - Oregami.org'}"></title>


    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--<meta property="og:url"               th:content=""/>-->
    <meta property="og:type" content="article"/>
    <meta property="og:title" th:content="${title} + ' - Oregami.org'"/>
    <meta property="og:description" th:content="${description ?: 'Oregami.org'}"/>

</head>

<body>


</body>

</html>
