<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title + '  - Oregami.org'}"></title>


    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css"/>
    <!--<script src="semantic/dist/semantic.min.js"></script>-->

    <link href="/style.css" rel="stylesheet" media="all"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!--<meta property="og:url"               th:content=""/>-->
    <meta property="og:type" content="article"/>
    <meta property="og:title" th:content="${title} + ' - Oregami.org'"/>
    <meta property="og:description" th:content="${description ?: 'Oregami.org'}"/>

</head>

<body>


</body>

</html>
