<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Revisions- List'"></head>

<body>

<nav th:replace="navigation :: navigation(URL_PUBLICATIONFRANCHISE)"></nav>


<div class="content">
    <div>

        <div style="margin-bottom: 4px;"
             th:each="revision : ${revisions}">

            <div th:text="${revision.id}"></div>
            <div th:text="${#dates.format(revision.getRevisionDate(), 'YYYY-MM-dd HH:mm:ss')}"></div>
            <div th:text="${revision.userId}"></div>
            <div th:text="${revision.entityId}"></div>
            <div th:text="${revision.entityDiscriminator}"></div>

        </div>
    </div>
</div>


<div th:replace="footer :: copy"></div>

</body>
</html>
