<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header"
      th:with="title=${one.name}, image=${'http://www.kultpower.org/ext/zeitschriften/_previews/' + one.id + '.png'}"

></head>

<body>
<nav th:replace="navigation :: navigation(URL_ZEITSCHRIFTEN)"></nav>

<div class="content">
    <h1>
        <a th:href="@{${URL_ZEITSCHRIFTEN}}"><i class="fa fa-chevron-circle-left color-primary-0"></i></a>
        <span th:text="${one.name}">Zeitschrift-Name</span>
    </h1>


    <div
            th:each="map : ${one.getAusgabenJeJahr()}"
    >
        <h2 class="zeitschrift_jahrgang_header">
            <i class="fa fa-chevron-right"></i>
            <span th:text="${map.key}">Jahr 1999</span>
        </h2>

        <div class="pure-g">
            <div th:each="ausgabe : ${map.value}"
                 class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1-5 pure-u-lg-1-6 pure-u-xl-1-8"
            >
            <span class="image_subtitle">
                <span th:if="${ausgabe.name!=null}"
                      th:text="${ausgabe.name}"
                      th:title="${ausgabe.name}"
                >Ausgabe mit Name</span>
                <span th:if="${ausgabe.name==null}"
                      th:text="${ausgabe.nummer} + (${ausgabe.jahr}>5000 ? '' : ('/' + ${ausgabe.jahr}))"
                      th:title="'Ausgabe ' + ${ausgabe.nummer} + '/' + ${ausgabe.jahr}"
                >Ausgabe 1</span>
            </span>
                <br/>
                <a th:href="@{${#httpServletRequest.requestURI} + '/'+${ausgabe.shortname}}"
                ><img style="width: 97%; height: auto;"
                      th:src="'/ext/zeitschriften/' + ${one.id} + '/cover/200/'+ ${ausgabe.coverfile}"
                /></a>
            </div>
        </div>

    </div>

</div>

<!--
<div th:each="rev : ${revisionList2}">
    <span th:text="${rev.revisionNumber}"></span>:
    <span th:text="${rev.entity.name}"></span>
    <div th:each="ausgabe : ${rev.entity.ausgaben}">
        <ul>
            <li th:text="${ausgabe.shortname}"></li>
        </ul>
    </div>
</div>
-->

<div th:replace="footer :: copy"></div>

</body>
</html>
